.page-main__title {
    color: $black;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 27px;
    font-family: $open-sans;
    line-height: 30px;
}

.page-subtitle {
    letter-spacing: 0;
    font-weight: 700;
    font-size: 25px;
    font-family: $open-sans;
    line-height: 30px;
}

.subtitle {
    color: $black;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 17px;
    font-family: $open-sans;
    line-height: 20px;
}
