<<<<<<< HEAD
$black: #000;
$white: #fff;
$grey: #ececec;
$grey-68: #444;
$seashell: #f1f1f1;
$downy: #63d1bb;
$fountain: #56c3b2;
$open-sans: 'Open Sans', 'Arial', sans-serif;
=======
$black: #000000;
$white: #ffffff;
$grey: #ececec;
$grey-68: #444444;
$seashell: #f1f1f1;
$downy: #63d1bb;
$fountain: #56c3b2;
$open-sans: "Open Sans", "Arial", sans-serif;
>>>>>>> c6c1c2944a7a8ad7122a2f7582925a27d5ae8835
