<<<<<<< HEAD
$mobile-width: 320px;
$mobile-padding: 30px;
$tablet-width: 768px;
$tablet-padding: 50px;
$desktop-width: 1150px;
$desktop-padding: 50px;
=======
>>>>>>> c6c1c2944a7a8ad7122a2f7582925a27d5ae8835
$black: #000000;
$white: #ffffff;
$grey: #ececec;
$grey-68: #444444;
$seashell: #f1f1f1;
<<<<<<< HEAD
$alabaster: #f9f9f9;
=======
>>>>>>> c6c1c2944a7a8ad7122a2f7582925a27d5ae8835
$downy: #63d1bb;
$fountain: #56c3b2;
$open-sans: "Open Sans", "Arial", sans-serif;
