.advantages {
  margin-bottom: 37px;
  & .page-subtitle {
    margin-bottom: 55px;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: -webkit-flex;
      display:     -ms-flex;
      display:         flex;
      flex-direction: row;

      flex-wrap: wrap;
    }



    @media (min-width: $desktop-width) {
      margin: 0 auto;
      width: 700px;
    }
  }
  &__item {
    position: relative;
    padding-top: 30px;
    padding-bottom: 53px;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 17px;
    font-family: $open-sans;
    line-height: 20px;
    &:last-child {
      padding-bottom: 0;
    }
    @media(min-width: $tablet-width) {
      width: 334px;

      flex-wrap: wrap;
    }
  }
}


.advantages__item--icon {
  position: absolute;
  top: -23px;
  left: 4px;
  fill: $downy;
}
