.contacts {
  margin-bottom: 42px;
  &__list {
    padding-bottom: 14px;
    @media (min-width: $tablet-width) {
    }
  }
  &__value {
    padding-right: 25px;
    padding-bottom: 25px;
    vertical-align: baseline;
    letter-spacing: 0;
    font-weight: 400;
    font-family: $open-sans;
    line-height: 30px;
  }
  &__email {
    color: $grey-68;
    text-decoration: none;
  }

  &__write {
    display: block;
    margin: 0 auto;
    width: 260px;
    text-align: center;
  }
  &__location {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 39px;
    line-height: 0;
  }
  & .page-subtitle {
    letter-spacing: 0;
    font-weight: 700;
    font-size: 18px;
    font-family: $open-sans;
    line-height: 30px;
  }
}
