.contacts {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding-top: 33px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
    width: $desktop-width;

    flex-wrap: wrap;
  }

  & .container {
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
    }

    @media (min-width: $desktop-width) {
      height: 630px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
    margin-left: auto;

    flex-shrink: 0;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
      margin-bottom: 50px;
    }
  }

  &__info {
    order: 1;

    @media (min-width:$desktop-width ) {
      padding-top: 27px;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
    letter-spacing: 0;

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      justify-content: flex-start;
      margin-bottom: 30px;
    }
  }

  &__item-text {
    color: $grey-68;
    font-weight: 400;
    font-size: 15px;
    font-family: $open-sans;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      font-size: 17px;
    }
  }

  &__item-name {
    @media (min-width: $tablet-width) {
      padding-right: 23px;
    }
  }

  &__item-value {
    width: 183px;

    @media (min-width: $tablet-width) {
      width: 258px;
    }
  }

  &__email {
    color: $grey-68;
    text-decoration: none;
  }

  &__write {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 260px;

    order: 3;

    @media (min-width: $tablet-width) {
      width: 230px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;

      order: 2;
    }
  }

  &__location {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 -30px;
    padding-bottom: 39px;
    line-height: 0;

    order: 2;

    @media (min-width: $tablet-width) {
      margin: 0 -50px;
      padding-bottom: 55px;
    }
    @media (min-width: $desktop-width) {
      width: 525px;
      height: 528px;
    }
    &--picture {
      display: none;
    }
    &--iframe {
      @media (min-width: $tablet-width) {
        width: 768px;
        height: 457px;
      }
      @media (min-width: $desktop-width) {
        width: 525px;
        height: 457px;
      }
    }
  }

  & .page-subtitle {
    position: relative;
    margin-bottom: 23px;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 18px;
    font-family: $open-sans;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      &::after {
        position: absolute;
        top: -14px;
        right: 4px;
        width: 46px;
        height: 81px;
        background: url("../img/icon-flag.svg");
        content: "";

        @media (min-width: $desktop-width) {
          top: -9px;
          left: -109px;
        }
      }
    }

    @media (min-width: $tablet-width) {
      margin-bottom: 50px;
      font-size: 43px;
      line-height: 50px;
    }

    @media (min-width: $desktop-width) {
      font-size: 53px;
      line-height: 57px;
    }
  }
}
