.form-order {
  display: -webkit-flex;
  display:     -ms-flex;
  display:         flex;
  flex-direction: column;
  margin: 0 auto;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.form-order__section {
  display: -webkit-flex;
  display:     -ms-flex;
  display:         flex;
  width: $mobile-width;
  border: none;

  &-title {
    color: $downy;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 17px;
    font-family: $open-sans;
    line-height: 16px;
  }

  &__input {
    border: none;
    border-bottom: 2px solid $black;
    color: $grey-68;
    letter-spacing: 0;
    font-size: 17px;
    font-family: $open-sans;
    line-height: 18px;
  }

  &__textarea {
    height: 134px;
    border: 2px solid $black;
    resize: none;
  }
}
