.form-order {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  & .container {
    @media (min-width: $tablet-width) {
      padding: 0;
    }
  }

  &__options {
    display: flex;
    flex-direction: column;

    @media (min-width: $tablet-width) {
      padding-top: 60px;
      padding-bottom: 16px;
      padding-left: 127px;
      width: 100%;
    }

    @media (min-width: $desktop-width) {
      padding-top: 64px;
      padding-left: 72px;
    }

    &--color {
      @media (min-width: $tablet-width) {
        flex-direction: row;

        flex-wrap: wrap;
      }
    }

    &--fullname {
      @media (min-width: $tablet-width) {
        padding-top: 45px;
        padding-bottom: 30px;
        width: 100%;
      }
    }

    &--wrapper {
      @media (min-width: $tablet-width) {
        display: flex;
        align-items: baseline;
        padding: 0;
        padding-right: 50px;
        width: 100%;
      }

      @media (min-width: $desktop-width) {
        padding-right: 225px;
      }
    }

    &--add {
      @media (min-width: $tablet-width) {
        margin-bottom: 40px;
        padding-top: 30px;
      }

      @media (min-width: $desktop-width) {
        padding-bottom: 11px;
      }
    }
  }

  &__description {
    padding-top: 9px;
    padding-right: $mobile-padding;
    padding-bottom: 10px;
    padding-left: $mobile-padding;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 13px;
    font-family: $open-sans;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 7px;
      padding-top: 27px;
      padding-right: $tablet-padding;
      padding-bottom: 0;
      padding-left: $tablet-padding;
      font-size: 17px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto;
      padding-top: 77px;
      width: 800px;
    }

    &-required {
      margin: 0;
      margin-bottom: 30px;
      padding: 0;
      padding-top: 5px;
      font-size: 14px;
      line-height: 16px;

      @media (min-width: $tablet-width) {
        font-size: 17px;
        line-height: 30px;

        order: 1;
      }

      @media (min-width: $desktop-width) {
        width: auto;
      }
    }
  }

  &__input {
    display: none;

    &-text {
      margin-bottom: 22px;
      padding-top: 15px;
      padding-bottom: 14px;
      width: 100%;
      border: none;
      border-bottom: 2px solid #000000;
      background-color: transparent;
      color: $grey-68;
      letter-spacing: 0;
      font-weight: 400;
      font-size: 17px;
      font-family: $open-sans;
      line-height: 18px;

      @media (min-width: $tablet-width) {
        margin-bottom: 20px;
        padding-left: 17px;
        font-size: 19px;
        line-height: 18px;
      }
    }

    &-icon-phone {
      position: absolute;
      top: 5px;
      right: 8px;
      opacity: 0.2;

      @media (min-width: $tablet-width) {
        top: 64px;
        right: 25px;
      }

      @media (min-width: $desktop-width) {
        top: 60px;
        right: 0;
      }
    }

    &-icon-email {
      position: absolute;
      top: 6px;
      right: 4px;
      opacity: 0.2;

      @media (min-width: $tablet-width) {
        top: 16px;
        right: 23px;
      }

      @media (min-width: $desktop-width) {
        top: 12px;
        right: 0;
      }
    }
  }

  &__label {
    padding-left: 63px;

    @media (min-width: $tablet-width) {
      padding-left: 80px;
      font-size: 19px;
    }

    @media (min-width: $tablet-width) {
      &-text {
        padding-right: 25px;
        font-size: 19px;
        line-height: 18px;
      }
    }
  }

  &__label-radio {
    position: relative;
    padding-bottom: 20px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      margin-bottom: 25px;
    }

    &::before {
      position: absolute;
      top: -10px;
      left: 0;
      width: 40px;
      height: 40px;
      border: 2px solid $grey-68;
      border-radius: 50%;
      content: "";

      @media (min-width: $tablet-width) {
        width: 52px;
        height: 52px;
      }
    }
  }

  &__label-checkbox {
    position: relative;
    margin-bottom: 40.5px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      margin-bottom: 46px;
      width: 260px;
    }

    &::before {
      position: absolute;
      top: -9px;
      left: 0;
      width: 40px;
      height: 41px;
      border: 2px solid $grey-68;
      content: "";

      @media (min-width: $tablet-width) {
        width: 54px;
        height: 52px;
      }
    }
  }

  &__textarea {
    margin-top: 14px;
    padding: 15px;
    width: 100%;
    height: 142px;
    border: 2px solid $grey-68;
    background-color: transparent;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 17px;
    font-family: $open-sans;
    line-height: 18px;
    resize: none;

    @media (min-width: $tablet-width) {
      font-size: 19px;
      line-height: 18px;
    }
  }

  &__submit {
    width: 100%;
    background-color: transparent;
    text-align: center;

    @media (min-width: $tablet-width) {
      padding-bottom: 19px;
      width: 230px;
      font-size: 18px;
      line-height: 16px;
    }
  }

  &__footer {
    padding-right: $mobile-padding;
    padding-left: $mobile-padding;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      padding-right: $tablet-padding;
      padding-left: $tablet-padding;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto;
      padding-right: 225px;
      padding-left: 225px;
      width: 1150px;
    }
  }

  &__wrapper {
    margin: 0 auto;

    &:first-of-type {
      margin-bottom: 25px;
    }

    @media (min-width: $tablet-width) {
      &:first-of-type {
        margin: 0;
      }
    }

    &--bg-grey {
      @media (min-width: $tablet-width) {
        background-color: $grey;
      }
    }
  }
}

.form-order__section {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-right: $mobile-padding;
  padding-left: $mobile-padding;
  border: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
    padding: 0;

    &:first-of-type {
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      margin: 0 auto;
      padding: 0;
      width: 1150px;
    }
  }

  &--phone {
    position: relative;
    margin-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin: 0;
      padding-top: 47px;
      padding-left: 135px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 80px;
    }
  }

  &--email {
    position: relative;

    @media (min-width: $tablet-width) {
      padding-bottom: 30px;
      padding-left: 105px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 50px;
    }
  }

  &--add {
    @media (min-width: $tablet-width) {
      margin-bottom: 35px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 19px;
    }
  }

  &-title {
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 33px;
    color: $downy;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 17px;
    font-family: $open-sans;
    line-height: 16px;

    @media (min-width: $tablet-width) {
      padding-bottom: 34px;
      padding-left: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 113px;
    }

    &::after {
      position: absolute;
      top: 7px;
      left: 62px;
      width: 200px;
      height: 1px;
      background-color: $downy;
      content: "";

      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &-title--fullname {
    padding-bottom: 23px;

    @media (min-width: $tablet-width) {
      padding-bottom: 25px;
    }
  }

  &-title--add {
    padding-bottom: 13px;

    @media (min-width: $tablet-width) {
      padding-bottom: 12px;
    }
  }

  &-title--phone {
    padding-bottom: 10px;
  }

  &-title--email {
    padding-bottom: 10px;
  }

  &-grey {
    @media (min-width: $tablet-width) {
      background-color: $grey;
    }
  }

  &--double {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }
  }

  &--item {
    width: 100%;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }
  }
}

#accessory:checked ~ .form-order__label-radio[for="accessory"]::after {
  position: absolute;
  top: 3px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $downy;
  content: "";

  @media (min-width: $tablet-width) {
    top: 5px;
    left: 15px;
    width: 21px;
    height: 21px;
  }
}

#toy:checked ~ .form-order__label-radio[for="toy"]::after {
  position: absolute;
  top: 3px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $downy;
  content: "";

  @media (min-width: $tablet-width) {
    top: 5px;
    left: 15px;
    width: 21px;
    height: 21px;
  }
}

.form-order__label-radio:hover.form-order__label-radio::before {
  border: 2px solid $downy;
}

.form-order__label-radio:active.form-order__label-radio::before,
.form-order__label-radio:focus.form-order__label-radio::before {
  border: 2px solid $grey-68;
  opacity: 0.3;
}

.form-order__input:checked + .form-order__label-checkbox::after {
  position: absolute;
  top: 4px;
  left: 9px;
  width: 23px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  content: "";

  @media (min-width: $tablet-width) {
    top: 7px;
    left: 11px;
    width: 32px;
    height: 22px;
  }
}

.form-order__label:hover.form-order__label::before {
  border: 2px solid $downy;
}

.form-order__label:active.form-order__label::before,
.form-order__label:focus.form-order__label::before {
  border: 2px solid $grey-68;
  opacity: 0.3;
}

.form-order__input-text:hover,
.form-order__input-text:focus {
  border-bottom: 2px solid $downy;
}

.form-order__input-phone:hover + .form-order__input-icon-phone,
.form-order__input-phone:focus + .form-order__input-icon-phone {
  opacity: 1;
  fill: $downy;
}

.form-order__input-email:hover + .form-order__input-icon-email,
.form-order__input-email:focus + .form-order__input-icon-email {
  opacity: 1;
  fill: $downy;
}

.form-order__textarea:hover,
.form-order__textarea:focus {
  border: 2px solid $downy;
}
