.main-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-preview__price {
  letter-spacing: 0;
  font-weight: 700;
  font-size: 15px;
  font-family: $open-sans;
  line-height: 24px;
}

.product-preview__info {
  font-weight: 400;
  font-size: 13px;
  font-family: $open-sans;
  line-height: 30px;
}

.product-preview__title {
  margin-bottom: 5px;
  padding: 0;
}
