.main-nav {
  margin-top: 30px;
  & .container {
    // padding-right: 0;
    // padding-left: 0;
  }

  @media (min-width: $tablet-width) {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    flex-direction: row;
  }


  &__link {
    margin-left: 74px;
    color: $black;
    text-decoration: none;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 17px;
    font-family: $open-sans;
    line-height: 24px;
  }

  &__item {
    padding-top: 26px;
    padding-bottom: 27px;
    border-top: 1px solid $grey;
  }
  &__user-menu {
    @media (min-width: $tablet-width) {
      order: 1;
    }
  }
  &__site-menu {
    @media (min-width: $tablet-width) {
      order: 2;
    }
  }
}
