.main-nav {
  z-index: 1;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    flex-shrink: 0;
  }
}

.main-nav__link {
  position: relative;
  padding-top: 28px;
  padding-bottom: 26px;
  padding-left: 75px;
  color: $black;
  text-decoration: none;
  letter-spacing: 0;
  font-weight: 700;
  font-size: 17px;
  font-family: $open-sans;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 82px;
  }
}

.main-nav__item {
  display: flex;
  border-top: 1px solid $grey;

  flex-wrap: wrap;

  &:hover .user-menu__link--icon {
    opacity: 1;
    fill: $downy;
  }

  &:active .user-menu__link--icon {
    opacity: 0.3;
    fill: $downy;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    border: none;
  }
}
