.modal {
  display: none;
}

.modal-show {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  width: 100%;
  height: 100%;
}

.modal__overlay {
  position: absolute;
  z-index: 100;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba($white, 0.9);
  cursor: pointer;
}

.modal-order {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-bottom: 50px;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  background-color: #ffffff;
  box-shadow: 0 5px 10px $grey;
  transform: translate(-50%, -50%);

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    width: 570px;
  }

  & .container {
    @media (min-width: $tablet-width) {
      width: 455px;
    }
  }

  & .page-subtitle {
    margin-bottom: 5px;
    padding-top: 10px;
    text-align: center;
    text-transform: uppercase;

    @media (min-width: $tablet-width) {
      font-size: 30px;
      line-height: 57px;
    }
  }

  & .text {
    margin-bottom: 27px;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin-top: 11px;
      margin-bottom: 25px;
      font-size: 17px;
      line-height: 30px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;

    flex-wrap: wrap;
  }

  &__input {
    display: none;
  }

  &__label {
    display: flex;
    width: 80px;
    height: 50px;
    border: 1px solid $grey;

    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      width: 115px;
    }

    &:hover {
      border: 2px solid $grey;
    }

    &--size {
      margin: 0 auto;
      color: $grey-68;
      letter-spacing: 0;
      font-weight: 700;
      font-size: 17px;
      font-family: $open-sans;
      line-height: 16px;

      align-self: center;
    }
  }

  &__add {
    padding: 18px;
    width: 100%;
    border: none;
    background-color: $downy;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 16px;
  }
}

.modal-order__input--size-s:checked + .modal-order__label[for="size-s"] {
  border: 2px solid $downy;
}

.modal-order__input--size-m:checked + .modal-order__label[for="size-m"] {
  border: 2px solid $downy;
}

.modal-order__input--size-l:checked + .modal-order__label[for="size-L"] {
  border: 2px solid $downy;
}
