.page-header {
  & .container {
    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      border: none;

      flex-wrap: wrap;
    }
  }

  &__logo {
    display: block;
    margin-top: 21px;
    margin-bottom: 21px;
    height: 35px;
    text-align: center;

    order: 1;

    @media (min-width: $tablet-width) {
      margin-top: 21px;
      margin-bottom: 10px;

      &:hover,
      &:focus {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }

    @media (min-width: $desktop-width) {
      margin-top: 9px;
      margin-right: 59px;

      order: 2;
    }
  }

  &__logo-image {
    width: 86px;
    height: 35px;

    @media (min-width: $tablet-width) {
      width: 113px;
      height: 46px;
    }

    @media (min-width: $desktop-width) {
      width: 148px;
      height: 73px;
    }
  }

  &__toggle {
    position: absolute;
    top: 10px;
    right: 31px;
    width: 20px;
    height: 14px;
    border: none;
    background-color: transparent;
    background-image: url("../img/icon-menu-open.svg");

    @media (min-width: $tablet-width) {
      display: none;
    }

    &--closed {
      top: 7px;
      right: 31px;
      width: 21px;
      height: 21px;
      background-image: url("../img/icon-menu-close.svg");
    }

    &--no-js {
      display: none;
    }
  }

  &__delivery {
    z-index: 1;
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      margin-top: 18px;
      max-width: 350px;
      color: $grey-68;
      text-transform: none;
      font-weight: 400;
      font-style: normal;
      font-size: 15px;
      line-height: 24px;

      order: 4;

      @media (min-width: $desktop-width) {
        margin-top: 20px;
      }
    }
  }

  &__nav {
    @media (min-width: $tablet-width) {
      order: 3;
    }

    @media (min-width: $desktop-width) {
      order: 1;
    }
  }

  &__user-menu {
    @media (min-width: $tablet-width) {
      order: 2;
    }

    @media (min-width: $desktop-width) {
      order: 3;
    }
  }

  @media (max-width: $tablet-width) {
    &__site-menu--closed {
      display: none;
    }

    &__user-menu--closed {
      display: none;
    }
  }

  &__product-stock {
    order: 4;
  }
  &__site-menu {
    &--no-js {
      display: block;
    }
  }
  &__user-menu {
    &--no-js {
      display: block;
    }
  }
}
