.page-footer {
  & .container {
    background-color: $seashell;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}
