.page-header {
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  & .container {
    margin-top: 21px;
    margin-bottom: 30px;
    // padding-right: 0;
    // padding-left: 0;
    @media (min-width:$tablet-width ) {
      display: -webkit-flex;
      display:     -ms-flex;
      display:         flex;
    }

    @media (min-width: $desktop-width) {
    }
  }

  &__logo {
    display: block;
    height: 35px;
    text-align: center;

    @media (min-width: $tablet-width) {
      text-align: left;
    }
  }

  &__logo-image {
    width: 86px;
    height: 35px;
  }
  &__toggle {
    display: block;
    margin-top: -30px;
    margin-left: 239px;
    width: 21px;
    height: 21px;
    border: none;
    background-color: transparent;
    background-image: url("../img/icon-menu-close.svg");

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
