.page-footer {
<<<<<<< HEAD
  & .container {
    background-color: $seashell;

    @media (min-width: $tablet-width) {
      display: -webkit-flex;
      display:     -ms-flex;
      display:         flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__logo {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
=======
  background-color: $seashell;
>>>>>>> c6c1c2944a7a8ad7122a2f7582925a27d5ae8835
}
