.production {
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 108px;
  }

  & .container {
    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
      align-items: flex-start;
      height: 455px;

      flex-wrap: wrap;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 90px;
    border-top: 1px solid $grey;
    border-right: 1px solid $grey;
    border-left: 1px solid $grey;

    @media (min-width: $tablet-width) {
      padding-top: 23px;
      padding-left: 105px;

      order: 2;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      padding-top: 78px;
      padding-bottom: 15px;
      padding-left: 77px;
      width: 367px;
    }

    &--text {
      font-weight: 700;
      font-size: 17px;
      font-family: $open-sans;
      line-height: 24px;

      @media (min-width: $tablet-width) {
        font-size: 20px;
        line-height: 24px;
      }

      @media (min-width: $desktop-width) {
        margin-top: 20px;
        width: 176px;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 28px;
    left: 32px;
    fill: $downy;

    @media (min-width: $tablet-width) {
      top: 35px;
      left: 41px;
    }

    @media (min-width: $desktop-width) {
      top: 41px;
      left: 78px;
    }
  }
  &__play {
    position: absolute;
    top: 36px;
    left: 79px;
    width: 101px;
    height: 77px;
    background: url(../img/icon-play.svg) no-repeat 50% 50%;
    background-size: 101px 77px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      top: 192px;
      left: 283px;
    }

    @media (min-width: $desktop-width) {
      top: 191px;
      left: 291px;
    }

    &:hover,
    &:focus {
      transform: scale(1.2);
    }

    &:active {
      opacity: 0.3;
      transform: scale(0.8);
    }
  }
}

.production__video {
  position: relative;
  width: 260px;
  height: 150px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 668px;
    height: 455px;

    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 682px;
    height: 455px;

    flex-shrink: 0;
  }
}

.production__descripion {
  padding-bottom: 30px;
  border-right: 1px solid $grey;
  border-bottom: 1px solid $grey;
  border-left: 1px solid $grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;

    order: 3;

    &:hover {
      box-shadow: 0 6px 10px rgba(0,0,0,0.1);
    }
    &:active {
      box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 58px;
    padding-left: 79px;
    width: 367px;
  }

  &--text {
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-left: 35px;
    width: 220px;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 13px;
    font-family: $open-sans;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
      padding-top: 6px;
      padding-bottom: 35px;
      padding-left: 40px;
      width: 620px;
      font-size: 15px;
      line-height: 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
      padding-bottom: 45px;
      width: auto;
    }
  }

  &-img {
    margin-bottom: 10px;
  }

  &-order {
    display: block;
    justify-content: center;
    margin: 0 auto;
    width: 190px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 580px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
      width: 230px;
    }
  }
}
