.product-menu {
  position: relative;
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    background-color: $alabaster;

    &::after {
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 15px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-position: -4px top;
      background-size: auto 23px;
      background-repeat: repeat-x;
      content: "";
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 121px;

    &::after {
      bottom: 0;
      background-position: 0 top;
      background-size: auto;
    }
  }

  & .container {
    padding-right: 0;
    padding-left: 0;

    @media (min-width: $tablet-width) {
      padding-right: $tablet-padding;
      padding-left: $tablet-padding;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;

      flex-wrap: wrap;
    }
  }

  &__item {
    position: relative;

    @media (min-width: $tablet-width) {
      width: 334px;
    }

    @media (min-width: $desktop-width) {
      width: 525px;
    }
  }

  &__link {
    display: block;
    padding-top: 25px;
    padding-right: 60px;
    padding-bottom: 30px;
    padding-left: $mobile-padding;
    width: 100%;
    background-color: $downy;
    color: $white;
    text-decoration: none;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 19px;
    font-family: $open-sans;
    line-height: 24px;

    &:hover {
      margin-top: -5px;
      padding-bottom: 35px;
    }

    &:hover .product-menu__icon {
      top: 20px;
      fill: #29a592;
    }


    &:active {
      color: rgba(255, 255, 255, 0.3);
    }

    &:active .product-menu__icon {
      fill: #44c0aa;
    }

    @media (min-width: $tablet-width) {
      padding-top: 28px;
      padding-left: 37px;
    }

    &-text {
      display: block;
      width: 130px;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__link--color-lighter {
    background-color: $downy;
  }

  &__link--color-darker {
    background-color: $fountain;
  }

  &__icon {
    position: absolute;
    top: 25px;
    right: 25px;
    opacity: 0.5;
    fill: #3bb09d;

    &--interior {
      right: 36px;

      @media (min-width: $tablet-width) {
        top: 29px;
      }
    }

    &--toy {
      top: 19px;
      right: 27px;

      @media (min-width: $tablet-width) {
        top: 31px;
        right: 33px;
      }
    }
  }

  &__title {
    @include visually-hidden();
  }
}
