.product-preview {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 52px;
  }

  &__item {
    margin-bottom: 30px;
    border: 1px solid $grey;

    @media (min-width: $tablet-width) {
      display: flex;
      margin-bottom: 46px;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
      margin: 0;
      width: 316px;
    }
  }

  &__wrapper {
    padding-top: 22px;
    padding-right: 30px;
    padding-left: 29px;

    flex-grow: 1;


    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 25px;

      flex-wrap: wrap;

      &:hover {
        box-shadow: 0 6px 10px rgba(0,0,0,0.1);
      }

      &:active {
        box-shadow: 0 3px 5px rgba(0,0,0,0.1);
      }
    }

    @media (min-width: $desktop-width) {
      padding-top: 20px;
      padding-right: 33px;
      padding-left: 27px;
    }
  }

  &__info {
    padding-bottom: 20px;

    @media (min-width: $desktop-width) {
      padding: 0;
      padding-bottom: 12px;
    }
  }

  &__img {
    @media (min-width: $tablet-width) {
      width: 333px;
      height: 334px;
    }

    @media (min-width: $desktop-width) {
      width: 316px;
      height: 462px;
    }
    &-link {
      flex-shrink: 0;
    }
  }

  &__buy {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 26px;
    border-top: 1px solid $grey;

    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      padding-top: 25px;
      padding-bottom: 30px;
      // width: 275px;
    }

    @media (min-width: $desktop-width) {
    }
  }

  &__price {
    letter-spacing: 0;
    font-weight: 700;
    font-size: 15px;
    font-family: $open-sans;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      font-size: 17px;
      line-height: 24px;
    }
  }

  &__value {
    font-weight: 400;
    font-size: 13px;
    font-family: $open-sans;
    line-height: 30px;

    @media (min-width: $tablet-width) {
      font-size: 15px;
      line-height: 30px;
    }
  }

  &__title {
    position: relative;
    margin: 0;
    padding-bottom: 3px;
    font-weight: 700;
    font-size: 17px;
    font-family: $open-sans;
    line-height: 24px;

    @media (min-width: $tablet-width) {
      padding-bottom: 5px;
      font-size: 20px;
      line-height: 24px;
    }

    &-link {
      color: #000000;
      text-decoration: none;

      &:hover,
      &:focus {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}

.product-preview__add-to-basket {
  &--icon-cart {
    opacity: 0.2;

    &:hover,
    &:focus {
      opacity: 1;
      fill: $downy;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
