.product-menu {
  @media(min-width: $desktop-width) {
    margin-bottom: 103px;
  }
  & .container {
    padding-right: 0;
    padding-left: 0;
    @media (min-width: $tablet-width) {
      padding-right: $tablet-padding;
      padding-left: $tablet-padding;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $tablet-width) {
      display: -webkit-flex;
      display:     -ms-flex;
      display:         flex;
      flex-direction: row;
    }
  }

  &__item {
    position: relative;


    @media (min-width: $tablet-width) {
      width: 334px;
    }

    @media (min-width: $desktop-width) {
      width: 525px;
    }
  }

  &__link {
    display: block;
    padding-top: 27px;
    padding-right: 60px;
    padding-bottom: 31px;
    padding-left: $mobile-padding;
    width: 100%;
    color: $white;
    text-decoration: none;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 19px;
    font-family: $open-sans;
    line-height: 24px;
    @media(min-width: $tablet-width) {
      padding-left: 37px;
    }
    &-text {
      display: block;
      width: 130px;
    }


    @media(min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__link--color-lighter {
    background-color: $downy;
  }

  &__link--color-darker {
    background-color: $fountain;
  }
}

.product-menu__link--icon {
  position: absolute;
  top: 25px;
  right: 25px;
  fill: #3bb09d;
}
