.product-preview {
  display: -webkit-flex;
  display:     -ms-flex;
  display:         flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
  }

  @media(min-width: $desktop-width) {
    flex-direction: row;
  }

  &__item {
    @media (min-width: $tablet-width) {
      display: -webkit-flex;
      display:     -ms-flex;
      display:         flex;
    }

    @media (min-width: $desktop-width) {
      flex-direction: column;
    }
  }

  &__price {
    letter-spacing: 0;
    font-weight: 700;
    font-size: 15px;
    font-family: $open-sans;
    line-height: 24px;
  }

  &__info {
    font-weight: 400;
    font-size: 13px;
    font-family: $open-sans;
    line-height: 30px;
  }

  &__title {
    margin-bottom: 5px;
    padding: 0;
  }
}
