.reviews {
  margin-bottom: 90px;
  & .container {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    flex-direction: column;
    margin: 0 auto;
    width: $mobile-width;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      align-items: flex-start;
      width: $tablet-width;
    }
  }

  &__title {
    padding-bottom: 4px;
    @media(min-width: $tablet-width) {
      order: 1;
    }
  }

  &__list {
    @media (min-width: $tablet-width) {
      order: 3;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 15px;
    font-family: $open-sans;
    line-height: 30px;
  }

  &__author-name {
    display: block;
    padding-bottom: 8px;
    font-style: normal;
  }

  &__author-email {
    display: block;
    padding-bottom: 28px;
    letter-spacing: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    line-height: 30px;
  }

  &__nav {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    padding-bottom: 40px;
    @media (min-width: $tablet-width) {
      order: 4;
    }
    &--icon {
      position: absolute;
      top: 12px;
      left: 40px;
    }
  }



  &__button {
    position: relative;
    padding: 25px 0;
    width: 130px;
    border: 1px solid $grey;
    background-color: transparent;
  }

  &__write {
    width: 100%;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 167px;

      order: 2;
    }
  }
}
