.reviews {
  position: relative;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 78px;
  }

  & .container {
    position: relative;
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding-bottom: 20px;
      background: url("../img/review@1x.jpg") no-repeat;

      flex-wrap: wrap;

      &::after {
        position: absolute;
        bottom: -80px;
        left: 0;
        width: 768px;
        height: 17px;
        background-image: url("../img/bg-zigzag-line.svg");
        background-size: auto 17px;
        background-repeat: repeat-x;
        content: "";
      }
    }

    @media (min-width: $tablet-width) and (min-resolution: 144dpi), (min-width: $tablet-width) and (min-resolution: 1.5dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px 457px;
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 150px;
      background-image: url("../img/review@1x.jpg");
      background-position: 50px 5px;
      background-repeat: no-repeat;

      &::after {
        position: absolute;
        bottom: -7px;
        left: 50px;
        width: 1050px;
        height: 23px;
        background-color: transparent;
        background-image: url("../img/bg-zigzag-line.svg");
        background-size: auto 23px;
        background-repeat: repeat-x;
        content: "";
      }
    }
  }
}

.reviews__title {
  margin: 0;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-top: 76px;
    margin-left: -4px;
    padding-bottom: 45px;

    order: 1;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 49px;
  }
}

.reviews__list {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}

.reviews__item {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 15px;
  font-family: $open-sans;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
    padding: 0;
    font-size: 17px;
    line-height: 31px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 36px;
    width: 770px;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 8px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 2px;
    font-size: 17px;
    line-height: 24px;
  }
}

.reviews__author-email {
  display: block;
  padding-bottom: 28px;
  letter-spacing: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
}

.reviews__nav {
  display: flex;
  margin-bottom: 37px;

  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-top: -85px;
    margin-right: 27px;
    margin-left: auto;
    padding: 0;
    width: 167px;

    order: 4;
  }
}

.reviews__icon {
  position: absolute;
  top: 12px;
  left: 40px;
}

.reviews__button {
  position: relative;
  padding: 25px 0;
  width: 130px;
  border: 1px solid $grey;
  background-color: transparent;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 50%;
    border: none;
  }
}

.reviews__write {
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 79px;
    width: 175px;

    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-top: 84px;
    font-size: 17px;
    line-height: 20px;
  }
}
