.social {
  &__list {
    display: -webkit-flex;
    display:     -ms-flex;
    display:         flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 22px;
    padding-left: 35px;
    max-width: 260px;
    border-bottom: 1px solid $grey;
    list-style: none;

    flex-wrap: wrap;
  }
  &__item {
    margin-right: 40px;
  }
}
