.week-product {
  position: relative;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  & .container {
    @media (min-width: $tablet-width) {
      padding-bottom: 65px;

      &::after {
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 768px;
        height: 17px;
        background-image: url("../img/bg-zigzag-line.svg");
        background-size: auto 17px;
        background-repeat: repeat-x;
        content: "";
      }
    }

    @media (min-width: $desktop-width) {
      padding-bottom: 89px;

      &::after {
        bottom: -3px;
        left: 50px;
        width: 1050px;
        height: 23px;
        background-position-x: 25px;
        background-size: 100%;
      }
    }
  }

  &__title {
    padding-bottom: 5px;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 46px;
      margin-bottom: 17px;
      text-align: center;

      flex-wrap: wrap;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 21px;
    }
  }

  &__title-description {
    display: flex;
    margin: 0;
    padding: 0;
    color: $downy;
    text-transform: uppercase;
    letter-spacing: 0;
    font-weight: 700;
    font-size: 17px;
    font-family: $open-sans;
    line-height: 20px;

    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      padding-right: 25px;
      width: 98px;
    }

    @media (min-width: $desktop-width) {
      position: absolute;
      top: 16px;
      left: 95px;
    }
  }

  & .page-subtitle {
    z-index: 1;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;

    @media (min-width: $tablet-width) {
      margin-left: -3px;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;

    flex-wrap: wrap;

    &-text {
      padding-bottom: 2px;

      @media (min-width: $tablet-width) {
        margin-bottom: 35px;
        width: 285px;
        font-size: 17px;
        line-height: 30px;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 45px;
      }
    }
  }

  &__info-table {
    margin-bottom: 30px;
    border-collapse: collapse;

    @media (min-width: $desktop-width) {
      margin-bottom: 85px;
    }

    &--value {
      margin: 0;
      padding: 0;
      padding-top: 5px;
      padding-right: 28px;
      padding-bottom: 8px;
      border-bottom: 1px solid $grey;

      @media (min-width: $desktop-width) {
        padding-right: 31px;
        padding-bottom: 10px;
      }
    }
  }

  &__picture {
    margin-bottom: 18px;

    @media (min-width: $tablet-width) {
      position: absolute;
      top: 107px;
      right: 51px;
    }

    @media (min-width: $desktop-width) {
      top: -49px;
      right: 50px;
    }

    &--image {
      width: 260px;
      height: 315px;

      @media (min-width: $tablet-width) {
        width: 333px;
        height: 404px;
      }

      @media (min-width: $desktop-width) {
        width: 525px;
        height: 636px;
      }
    }
  }

  &__price {
    margin-bottom: 25px;
    color: $grey-68;
    font-weight: 700;
    font-size: 17px;
    font-family: $open-sans;
    line-height: 24px;

    align-self: center;

    @media (min-width: $tablet-width) {
      margin-bottom: 36px;
      padding-top: 26px;
      padding-left: 71px;
      font-size: 20px;
      line-height: 24px;

      align-self: flex-start;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 31px;
      padding-left: 75px;
    }
  }

  &__order {
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 289px;
    }

    @media (min-width: $desktop-width) {
      width: 294px;
      font-size: 17px;
      line-height: 20px;
    }
  }
}
